# Configuration for Megamenu SDI
include-filter.config.ignoreUrlParams=[""]
include-filter.config.resource-types=["singtel/components/content/megaMenu"]
include-filter.config.enabled=B"true"
include-filter.config.path="/content/singtel"
include-filter.config.required_header="Server-Agent\=Communique-Dispatcher"
include-filter.config.include-type="SSI"
include-filter.config.selector="nocache"
include-filter.config.add_comment=B"true"
include-filter.config.rewrite=B"false"